

<div class="search-container">
  <input [(ngModel)]="value" type="text" placeholder="Search for user" class="search-input" />
  <button (click)="handleseacrh()" class="search-button">Search</button>
</div>

<div class="result-container" *ngIf="result">
  <ul id="search-result">
    <li class="search-result-item">
      <p class="result-name">Name: {{ result.dost_name }}</p>
      <p class="result-id">ID: {{ result.dost_id }}</p>
    </li>
  </ul>
  <button class="add-button" (click)="add()">Add</button>
</div>
