<div class="tab-buttons">
  <button 
    (click)="handlelist()" 
    [class.active]="list"
    class="tab-button"
  >List</button>

  <button 
    (click)="handlesearch()" 
    [class.active]="search"
    class="tab-button"
  >Search</button>

  <button 
    (click)="handlereq()" 
    [class.active]="req"
    class="tab-button"
  >Request</button>
</div>

<div class="tab-content">
  <div *ngIf="list">
    <app-list></app-list>
  </div>

  <div *ngIf="search">
    <app-search></app-search>
  </div>

  <div *ngIf="req">
    <app-req></app-req>
  </div>
</div>
